.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameInput{
    margin: 4px 8px;
}

.passwordInput{
    margin: 4px 8px;
}

.loginButton{
    margin: 4px 8px;
}
